.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--spacing-lg);
}

.hero__info{
    min-width: 0;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.hero__visual {
    min-width: 0;
}

.hero__greeting {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
}

.hero__title {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
}

.hero__role {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base);
}

.hero__description {
    max-width: 38rem;

    font-size: var(--font-size-md);
    line-height: var(--line-height-relaxed);
}

.hero__actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);

    margin-top: var(--spacing-md);
}

@media (max-width: 992px) {

    .hero__content {
        grid-template-columns: 1fr;
    }

}