/* ==========================================================================
   PCB Scene
========================================================================== */

.pcb-svg {
    width: 100%;
    height: auto;
    display: block;
}

/* ==========================================================================
   Controller
========================================================================== */

.controller__body {
    fill: #1E232B;
    stroke: #343C48;
    stroke-width: 3;
}

.controller__pin-marker {
    fill: var(--color-primary);
}