/* ==========================================================================
   Skills
========================================================================== */

.skills {
    padding-block: var(--section-spacing);
}

/* ==========================================================================
   Grid
========================================================================== */

.skills__grid {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, minmax(320px, 420px));
    
    gap: var(--spacing-lg);
}

/* ==========================================================================
   Responsive
========================================================================== */

@media (max-width: 900px) {

    .skills__grid {
        grid-template-columns: 1fr;
    }

}