:root {

    /* Colors */

    --color-background: #0D1117;
    --color-surface: #161B22;

    --color-primary: #4FD1FF;
    --color-secondary: #8B5CF6;

    --color-text: #F5F5F5;
    --color-text-muted: #9CA3AF;

    /* Layout */

    --container-width: 1200px;

    /* Spacing */

    --spacing-xs: .5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 6rem;

    /* Border */

    --radius: .75rem;

    /* Transition */

    --transition: .3s ease;

}